@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;500&family=Chivo&display=swap');

*{
  margin: 0;
  padding: 0;
}


.container { 
  max-width: 1140px; 
  width: 100%; 
  margin: 0 auto; 
} 
 
.title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 16px 0px;
}

.slick-dots{
  bottom: 10px !important;
} 
.slick-dots li button::before{
  font-size: 14px !important;
}
.slick-next{
  width: 40px  !important;
  height: 40px !important;
  right: -2px !important;
}
.slick-next::before{
  color: black !important;
  font-size: 32px !important;
}
.slick-prev::before{
  color: black !important;
  font-size: 32px !important;
}
.slick-prev{
  width: 40px  !important;
  height: 40px !important;
  left: -2px  !important;
  z-index: 99; 
}

@media (max-width: 1200px) { 
  .container { 
    max-width: 996px; 
  } 
} 
 
@media (max-width: 1140px) { 
  .container { 
    max-width: 840px; 
  } 
} 
 
@media (max-width: 900px) { 
  .container { 
    max-width: 780px; 
  } 
} 
 
@media (max-width: 800px) { 
  .container { 
    max-width: 90%; 
  } 
}